.sign_form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.errors_list {
    color: rgb(208, 36, 36);
}

.relocate_link {
    color: rgb(110, 110, 255) !important;
    transition: color 0.3s;
}

.relocate_link:hover {
    color: rgb(197, 110, 255) !important;
}
