nav {
    width: 100vw;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(30, 30, 30, 0.4);
    backdrop-filter: blur(7px);
    z-index: 1;
}

nav ul {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a, a:active, a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: rgb(150, 150, 150);
}

.nav_link.active {
    color: rgb(0, 126, 255);
    cursor: default;
}
